<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <form v-bind:class="this.css.login">
      <input name="username" placeholder="Username" @change="this.onChange" @submit="this.onSubmit"/>
      <input name="password" placeholder="Password" type="password"/>
      <button />
    </form>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>
