<template>
  <form :class="this.css.login" @change="this.onChange" @submit="this.onSubmit">
    <input name="username" placeholder="Username"/>
    <input name="password" placeholder="Password" type="password"/>
    <button/>
  </form>
</template>

<script>
export default {
  name: 'Thing',
  data: function () {
    return {
      css: { login: "hello" }
    }
  },
  methods:{
    onChange: () => {
      console.log('onChange event!');
    },
    onSubmit: () => {
      console.log('onSubmit event!');
    }
  }
};
</script>

<style lang="scss">
$primary: #2AA198 !default;

.hello {
  font-size: 28px;
  color: $primary;
}
</style>
